In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import os
from natsort import natsorted

In [ ]:
file_path = '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_1.csv'
data_1 = pd.read_csv(file_path)

In [ ]:
print(data_1.columns)

Index(['Unnamed: 0', 'action', 'atr01/acc_x', 'atr01/acc_y', 'atr01/acc_z',
       'atr01/gyro_x', 'atr01/gyro_y', 'atr01/gyro_z', 'atr01/quat_w',
       'atr01/quat_x', 'atr01/quat_y', 'atr01/quat_z', 'atr02/acc_x',
       'atr02/acc_y', 'atr02/acc_z', 'atr02/gyro_x', 'atr02/gyro_y',
       'atr02/gyro_z', 'atr02/quat_w', 'atr02/quat_x', 'atr02/quat_y',
       'atr02/quat_z', 'atr03/acc_x', 'atr03/acc_y', 'atr03/acc_z',
       'atr03/gyro_x', 'atr03/gyro_y', 'atr03/gyro_z', 'atr03/quat_w',
       'atr03/quat_x', 'atr03/quat_y', 'atr03/quat_z', 'atr04/acc_x',
       'atr04/acc_y', 'atr04/acc_z', 'atr04/gyro_x', 'atr04/gyro_y',
       'atr04/gyro_z', 'atr04/quat_w', 'atr04/quat_x', 'atr04/quat_y',
       'atr04/quat_z', 'operation'],
      dtype='object')

In [ ]:
data_1.describe()

,Unnamed: 0,action,atr01/acc_x,atr01/acc_y,atr01/acc_z,atr01/gyro_x,atr01/gyro_y,atr01/gyro_z,atr01/quat_w,atr01/quat_x,...,atr04/acc_y,atr04/acc_z,atr04/gyro_x,atr04/gyro_y,atr04/gyro_z,atr04/quat_w,atr04/quat_x,atr04/quat_y,atr04/quat_z,operation
count,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000,74600.00000,74600.000000,74600.000000,...,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000,74600.000000
mean,37299.500000,3923.582386,0.599096,0.303112,0.399506,-2.874241,0.720479,0.10127,-0.018661,-0.054701,...,-0.866749,0.198182,-0.697725,2.485737,-0.826680,0.083598,0.023725,0.055532,0.019401,547.410188
std,21535.309378,3801.486747,0.426040,0.440274,0.490395,67.525675,114.331126,60.25223,0.486574,0.411442,...,0.226103,0.275718,40.495994,59.737743,35.883043,0.607800,0.396091,0.495537,0.462525,892.794486
min,0.000000,101.000000,-4.000000,-4.000000,-3.799300,-498.960000,-935.670000,-651.95000,-1.000000,-1.000000,...,-2.426600,-1.215300,-297.500000,-422.370000,-573.290000,-0.937500,-0.812500,-0.875000,-0.921800,100.000000
25%,18649.750000,401.000000,0.374600,0.053200,0.046900,-23.900000,-36.150000,-21.76000,-0.437500,-0.375000,...,-0.997900,0.015200,-16.700000,-17.190000,-14.390000,-0.593700,-0.359300,-0.453100,-0.437500,200.000000
50%,37299.500000,902.000000,0.672100,0.323200,0.494200,-0.420000,1.820000,-1.28000,-0.031200,-0.062500,...,-0.916500,0.192200,-0.300000,1.400000,-0.540000,0.437500,0.093700,0.312500,0.140600,400.000000
75%,55949.250000,8105.000000,0.880300,0.567900,0.764500,20.180000,41.520000,18.24500,0.390600,0.281200,...,-0.780800,0.388300,14.690000,22.010000,12.980000,0.625000,0.375000,0.500000,0.437500,700.000000
max,74599.000000,8105.000000,3.999800,3.999800,3.303100,475.000000,895.000000,397.98000,0.984300,0.968700,...,0.647400,2.309400,291.280000,513.290000,245.670000,0.953100,0.796800,0.890600,0.875000,8100.000000

In [ ]:
data_1.head(10)

,Unnamed: 0,action,atr01/acc_x,atr01/acc_y,atr01/acc_z,atr01/gyro_x,atr01/gyro_y,atr01/gyro_z,atr01/quat_w,atr01/quat_x,...,atr04/acc_y,atr04/acc_z,atr04/gyro_x,atr04/gyro_y,atr04/gyro_z,atr04/quat_w,atr04/quat_x,atr04/quat_y,atr04/quat_z,operation
0,0,8105,-0.1014,0.6828,0.7983,52.92,98.90,-13.47,-0.4687,0.0156,...,-0.8920,0.0892,1.40,-12.31,18.04,-0.6250,-0.3281,-0.5937,-0.4218,100
1,1,108,0.5775,0.6271,0.3972,-0.06,-38.23,38.29,-0.5937,-0.1406,...,-0.9904,0.4074,69.14,-32.98,11.58,-0.4218,-0.2812,0.5000,0.6875,100
2,2,101,-0.1597,0.2072,0.6610,108.35,199.08,9.32,0.2968,-0.1250,...,-0.9057,0.1744,-29.02,19.02,-21.15,-0.7343,-0.4687,-0.4531,-0.2343,100
3,3,101,0.4604,0.4147,0.8211,-4.39,1.95,-5.24,-0.1718,0.2656,...,-0.6602,0.2415,-1.21,7.37,11.15,-0.7656,-0.4375,-0.4687,-0.1406,100
4,4,108,0.8221,0.2723,-0.1811,77.62,-502.86,101.70,-0.7031,0.5000,...,-1.0617,0.3100,18.35,-29.26,8.41,-0.6562,-0.4531,-0.4687,-0.4375,100
5,5,8105,1.1547,0.2703,-0.2172,75.97,-49.39,50.42,-0.6406,0.4375,...,-0.8371,0.2783,16.21,-52.19,7.43,-0.6406,-0.6406,0.2343,0.3906,100
6,6,8105,0.3078,-0.4807,0.6542,83.78,26.89,87.56,-0.9531,0.0000,...,-0.9437,0.4929,12.01,31.21,11.34,-0.7031,-0.5156,0.2343,0.4531,100
7,7,8105,1.1442,0.9082,0.6424,-0.67,2.86,-87.01,-0.7968,0.1562,...,-0.9958,0.3791,18.41,16.52,-2.31,-0.6093,-0.5625,0.2500,0.5000,100
8,8,8103,0.8096,0.5428,0.1751,-30.36,-8.53,4.69,0.3281,0.3125,...,-1.0054,0.3623,3.41,26.28,13.47,0.3593,0.3281,-0.4687,-0.7343,100
9,9,108,0.9909,0.1845,-0.1549,-70.24,-65.36,18.96,-0.3125,0.7656,...,-1.0474,0.1000,-32.56,11.95,-38.10,-0.5312,-0.3437,-0.6250,-0.4843,100

In [ ]:
data_path = '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/'
data_name_files = [f.name for f in os.scandir(data_path) if f.is_file()]
for i in data_name_files:
  print(i)

File_10.csv
File_11.csv
File_13.csv
File_8.csv
File_9.csv
File_12.csv
File_7.csv
File_5.csv
File_6.csv
File_4.csv
File_3.csv
File_1.csv
File_2.csv

In [ ]:
data_name_files = natsorted(data_name_files)  # Sắp xếp theo thứ tự số học
data_name_file_paths = []

for i in data_name_files:
    data_name_file_paths.append(os.path.join(data_path, i))

print(data_name_file_paths)

['/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_1.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_2.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_3.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_4.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_5.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_6.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_7.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_8.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_9.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_10.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_11.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_12.csv', '/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_13.csv']

In [ ]:
for i in range(0, 13):
    data = pd.read_csv(data_name_file_paths[i])
    data.replace(0, pd.NA, inplace=True)
    print(data_name_file_paths[i])
    print(data.describe())
    print(data.info())
    print("#######################################################################################")
# 2,3

/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_1.csv
             action   atr02/acc_x   atr04/acc_y     operation
count  74600.000000  74600.000000  74600.000000  74600.000000
mean    3923.582386      0.629342     -0.866749    547.410188
std     3801.486747      0.367653      0.226103    892.794486
min      101.000000     -2.345500     -2.426600    100.000000
25%      401.000000      0.419500     -0.997900    200.000000
50%      902.000000      0.610100     -0.916500    400.000000
75%     8105.000000      0.865200     -0.780800    700.000000
max     8105.000000      3.999800      0.647400   8100.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74600 entries, 0 to 74599
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    74599 non-null  object
 1   action        74600 non-null  int64
 2   atr01/acc_x   74597 non-null  object
 3   atr01/acc_y   74597 non-null  object
 4   atr01/acc_z   74594 non-null  object
 5   atr01/gyro_x  74505 non-null  object
 6   atr01/gyro_y  74544 non-null  object
 7   atr01/gyro_z  74506 non-null  object
 8   atr01/quat_w  73918 non-null  object
 9   atr01/quat_x  73800 non-null  object
 10  atr01/quat_y  73569 non-null  object
 11  atr01/quat_z  74491 non-null  object
 12  atr02/acc_x   74600 non-null  float64
 13  atr02/acc_y   74595 non-null  object
 14  atr02/acc_z   74594 non-null  object
 15  atr02/gyro_x  74445 non-null  object
 16  atr02/gyro_y  74436 non-null  object
 17  atr02/gyro_z  74451 non-null  object
 18  atr02/quat_w  73015 non-null  object
 19  atr02/quat_x  74237 non-null  object
 20  atr02/quat_y  73051 non-null  object
 21  atr02/quat_z  74523 non-null  object
 22  atr03/acc_x   74590 non-null  object
 23  atr03/acc_y   74598 non-null  object
 24  atr03/acc_z   74584 non-null  object
 25  atr03/gyro_x  74501 non-null  object
 26  atr03/gyro_y  74527 non-null  object
 27  atr03/gyro_z  74479 non-null  object
 28  atr03/quat_w  73832 non-null  object
 29  atr03/quat_x  73632 non-null  object
 30  atr03/quat_y  74366 non-null  object
 31  atr03/quat_z  74460 non-null  object
 32  atr04/acc_x   74592 non-null  object
 33  atr04/acc_y   74600 non-null  float64
 34  atr04/acc_z   74590 non-null  object
 35  atr04/gyro_x  74492 non-null  object
 36  atr04/gyro_y  74459 non-null  object
 37  atr04/gyro_z  74458 non-null  object
 38  atr04/quat_w  74567 non-null  object
 39  atr04/quat_x  74137 non-null  object
 40  atr04/quat_y  74521 non-null  object
 41  atr04/quat_z  74310 non-null  object
 42  operation     74600 non-null  int64
dtypes: float64(2), int64(2), object(39)
memory usage: 24.5+ MB
None
#######################################################################################
/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_2.csv
             action   atr01/acc_x   atr01/acc_y  atr01/gyro_y   atr02/acc_x  \
count  64787.000000  64787.000000  64787.000000  64787.000000  64787.000000
mean    3390.125612      0.687398      0.309934     -1.686395      0.697656
std     3693.809039      0.338052      0.422875     99.856448      0.285832
min      101.000000     -2.442200     -4.017400   -499.610000     -3.980200
25%      401.000000      0.518600      0.047000    -30.770000      0.546400
50%      802.000000      0.752000      0.332400      2.030000      0.703800
75%     8105.000000      0.900700      0.584600     34.330000      0.863500
max     8105.000000      4.007500      3.982400    500.910000      4.019600

        atr02/acc_y   atr02/acc_z   atr03/acc_x   atr03/acc_z   atr04/acc_x  \
count  64787.000000  64787.000000  64787.000000  64787.000000  64787.000000
mean      -0.381483      0.117246      0.493442      0.031321      0.201529
std        0.397552      0.480678      0.284112      0.241791      0.338009
min       -3.730900     -3.388200     -1.884100     -1.598600     -1.865900
25%       -0.646700     -0.268900      0.308900     -0.120300      0.003200
50%       -0.448200      0.229300      0.496700      0.034000      0.170600
75%       -0.121200      0.475400      0.685600      0.191600      0.369600
max        1.977700      3.605800      2.667800      1.528500      2.416700

        atr04/acc_y   atr04/acc_z     operation
count  64787.000000  64787.000000  64787.000000
mean      -0.894143      0.152740    625.975890
std        0.221047      0.234527   1051.167667
min       -2.161200     -1.283600    100.000000
25%       -0.995700      0.009400    200.000000
50%       -0.951500      0.158000    400.000000
75%       -0.863800      0.301800    700.000000
max        0.852900      2.191900   8100.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64787 entries, 0 to 64786
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    64786 non-null  object
 1   action        64787 non-null  int64
 2   atr01/acc_x   64787 non-null  float64
 3   atr01/acc_y   64787 non-null  float64
 4   atr01/acc_z   64781 non-null  object
 5   atr01/gyro_x  64770 non-null  object
 6   atr01/gyro_y  64787 non-null  float64
 7   atr01/gyro_z  64764 non-null  object
 8   atr01/quat_w  0 non-null      object
 9   atr01/quat_x  0 non-null      object
 10  atr01/quat_y  0 non-null      object
 11  atr01/quat_z  0 non-null      object
 12  atr02/acc_x   64787 non-null  float64
 13  atr02/acc_y   64787 non-null  float64
 14  atr02/acc_z   64787 non-null  float64
 15  atr02/gyro_x  64760 non-null  object
 16  atr02/gyro_y  64758 non-null  object
 17  atr02/gyro_z  64737 non-null  object
 18  atr02/quat_w  0 non-null      object
 19  atr02/quat_x  0 non-null      object
 20  atr02/quat_y  0 non-null      object
 21  atr02/quat_z  0 non-null      object
 22  atr03/acc_x   64787 non-null  float64
 23  atr03/acc_y   64786 non-null  object
 24  atr03/acc_z   64787 non-null  float64
 25  atr03/gyro_x  64764 non-null  object
 26  atr03/gyro_y  64778 non-null  object
 27  atr03/gyro_z  64772 non-null  object
 28  atr03/quat_w  0 non-null      object
 29  atr03/quat_x  0 non-null      object
 30  atr03/quat_y  0 non-null      object
 31  atr03/quat_z  0 non-null      object
 32  atr04/acc_x   64787 non-null  float64
 33  atr04/acc_y   64787 non-null  float64
 34  atr04/acc_z   64787 non-null  float64
 35  atr04/gyro_x  64747 non-null  object
 36  atr04/gyro_y  64766 non-null  object
 37  atr04/gyro_z  64747 non-null  object
 38  atr04/quat_w  0 non-null      object
 39  atr04/quat_x  0 non-null      object
 40  atr04/quat_y  0 non-null      object
 41  atr04/quat_z  0 non-null      object
 42  operation     64787 non-null  int64
dtypes: float64(11), int64(2), object(30)
memory usage: 21.3+ MB
None
#######################################################################################
/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_3.csv
             action   atr01/acc_x   atr01/acc_y  atr01/gyro_y   atr02/acc_x  \
count  91091.000000  91091.000000  91091.000000  91091.000000  91091.000000
mean    3418.729029      0.761311      0.135865     -0.139872      0.655901
std     3683.183374      0.310265      0.383258     83.861811      0.330473
min      101.000000     -3.499100     -2.517100   -499.610000     -2.601200
25%      403.000000      0.626300     -0.103300    -25.960000      0.470400
50%      802.000000      0.810900      0.156400      1.250000      0.663100
75%     8105.000000      0.943700      0.359000     30.850000      0.901300
max     8105.000000      4.007500      3.847500    500.910000      4.019600

        atr02/acc_y   atr02/acc_z   atr03/acc_x   atr03/acc_y   atr03/acc_z  \
count  91091.000000  91091.000000  91091.000000  91091.000000  91091.000000
mean      -0.163811      0.402685      0.334915      0.810649      0.249609
std        0.405322      0.440791      0.319733      0.245911      0.249741
min       -3.850300     -2.319400     -1.718800     -0.643200     -1.493100
25%       -0.475800      0.080900      0.116100      0.738300      0.088300
50%       -0.157400      0.517200      0.307500      0.872500      0.232900
75%        0.108600      0.722700      0.536700      0.956500      0.400800
max        2.826100      4.024600      2.336500      2.340300      2.350800

        atr04/acc_x   atr04/acc_y   atr04/acc_z     operation
count  91091.000000  91091.000000  91091.000000  91091.000000
mean       0.381537     -0.854832      0.215228    610.492804
std        0.287657      0.214605      0.203474    933.176175
min       -1.408200     -1.894800     -1.137800    100.000000
25%        0.178400     -0.977100      0.083800    300.000000
50%        0.337800     -0.918300      0.207100    500.000000
75%        0.559500     -0.800400      0.337400    700.000000
max        2.335200      0.506400      2.497800   8100.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91091 entries, 0 to 91090
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    91090 non-null  object
 1   action        91091 non-null  int64
 2   atr01/acc_x   91091 non-null  float64
 3   atr01/acc_y   91091 non-null  float64
 4   atr01/acc_z   91079 non-null  object
 5   atr01/gyro_x  91043 non-null  object
 6   atr01/gyro_y  91091 non-null  float64
 7   atr01/gyro_z  91051 non-null  object
 8   atr01/quat_w  0 non-null      object
 9   atr01/quat_x  0 non-null      object
 10  atr01/quat_y  0 non-null      object
 11  atr01/quat_z  0 non-null      object
 12  atr02/acc_x   91091 non-null  float64
 13  atr02/acc_y   91091 non-null  float64
 14  atr02/acc_z   91091 non-null  float64
 15  atr02/gyro_x  91048 non-null  object
 16  atr02/gyro_y  91054 non-null  object
 17  atr02/gyro_z  91006 non-null  object
 18  atr02/quat_w  0 non-null      object
 19  atr02/quat_x  0 non-null      object
 20  atr02/quat_y  0 non-null      object
 21  atr02/quat_z  0 non-null      object
 22  atr03/acc_x   91091 non-null  float64
 23  atr03/acc_y   91091 non-null  float64
 24  atr03/acc_z   91091 non-null  float64
 25  atr03/gyro_x  91061 non-null  object
 26  atr03/gyro_y  91076 non-null  object
 27  atr03/gyro_z  91054 non-null  object
 28  atr03/quat_w  0 non-null      object
 29  atr03/quat_x  0 non-null      object
 30  atr03/quat_y  0 non-null      object
 31  atr03/quat_z  0 non-null      object
 32  atr04/acc_x   91091 non-null  float64
 33  atr04/acc_y   91091 non-null  float64
 34  atr04/acc_z   91091 non-null  float64
 35  atr04/gyro_x  91006 non-null  object
 36  atr04/gyro_y  91051 non-null  object
 37  atr04/gyro_z  90970 non-null  object
 38  atr04/quat_w  0 non-null      object
 39  atr04/quat_x  0 non-null      object
 40  atr04/quat_y  0 non-null      object
 41  atr04/quat_z  0 non-null      object
 42  operation     91091 non-null  int64
dtypes: float64(12), int64(2), object(29)
memory usage: 29.9+ MB
None
#######################################################################################
/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_4.csv
             action   atr04/acc_y     operation
count  73833.000000  73833.000000  73833.000000
mean    4234.412620     -0.938065    978.402611
std     3812.475543      0.164097   1952.727438
min      101.000000     -2.321200    100.000000
25%      403.000000     -1.010800    200.000000
50%     1003.000000     -0.963700    400.000000
75%     8105.000000     -0.884800    700.000000
max     8105.000000      0.428300   8100.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73833 entries, 0 to 73832
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    73832 non-null  object
 1   action        73833 non-null  int64
 2   atr01/acc_x   73830 non-null  object
 3   atr01/acc_y   73827 non-null  object
 4   atr01/acc_z   73826 non-null  object
 5   atr01/gyro_x  73702 non-null  object
 6   atr01/gyro_y  73750 non-null  object
 7   atr01/gyro_z  73685 non-null  object
 8   atr01/quat_w  73396 non-null  object
 9   atr01/quat_x  72938 non-null  object
 10  atr01/quat_y  73016 non-null  object
 11  atr01/quat_z  73459 non-null  object
 12  atr02/acc_x   73830 non-null  object
 13  atr02/acc_y   73824 non-null  object
 14  atr02/acc_z   73832 non-null  object
 15  atr02/gyro_x  73619 non-null  object
 16  atr02/gyro_y  73647 non-null  object
 17  atr02/gyro_z  73677 non-null  object
 18  atr02/quat_w  73358 non-null  object
 19  atr02/quat_x  72406 non-null  object
 20  atr02/quat_y  73033 non-null  object
 21  atr02/quat_z  73678 non-null  object
 22  atr03/acc_x   73823 non-null  object
 23  atr03/acc_y   73832 non-null  object
 24  atr03/acc_z   73816 non-null  object
 25  atr03/gyro_x  73671 non-null  object
 26  atr03/gyro_y  73728 non-null  object
 27  atr03/gyro_z  73669 non-null  object
 28  atr03/quat_w  73414 non-null  object
 29  atr03/quat_x  73161 non-null  object
 30  atr03/quat_y  73242 non-null  object
 31  atr03/quat_z  73056 non-null  object
 32  atr04/acc_x   73824 non-null  object
 33  atr04/acc_y   73833 non-null  float64
 34  atr04/acc_z   73825 non-null  object
 35  atr04/gyro_x  73611 non-null  object
 36  atr04/gyro_y  73685 non-null  object
 37  atr04/gyro_z  73607 non-null  object
 38  atr04/quat_w  73405 non-null  object
 39  atr04/quat_x  73196 non-null  object
 40  atr04/quat_y  73242 non-null  object
 41  atr04/quat_z  73347 non-null  object
 42  operation     73833 non-null  int64
dtypes: float64(1), int64(2), object(40)
memory usage: 24.2+ MB
None
#######################################################################################
/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_5.csv
             action   atr04/acc_y     operation
count  89500.000000  89500.000000  89500.000000
mean    3697.910156     -0.801997    574.741899
std     3740.327126      0.253250    808.846864
min      101.000000     -2.251700    100.000000
25%      401.000000     -0.974100    300.000000
50%      902.000000     -0.863400    400.000000
75%     8105.000000     -0.682400    700.000000
max     8105.000000      0.834200   8100.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89500 entries, 0 to 89499
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    89499 non-null  object
 1   action        89500 non-null  int64
 2   atr01/acc_x   89499 non-null  object
 3   atr01/acc_y   89491 non-null  object
 4   atr01/acc_z   89488 non-null  object
 5   atr01/gyro_x  89329 non-null  object
 6   atr01/gyro_y  89390 non-null  object
 7   atr01/gyro_z  89338 non-null  object
 8   atr01/quat_w  88870 non-null  object
 9   atr01/quat_x  88711 non-null  object
 10  atr01/quat_y  88501 non-null  object
 11  atr01/quat_z  89215 non-null  object
 12  atr02/acc_x   89497 non-null  object
 13  atr02/acc_y   89493 non-null  object
 14  atr02/acc_z   89495 non-null  object
 15  atr02/gyro_x  89210 non-null  object
 16  atr02/gyro_y  89094 non-null  object
 17  atr02/gyro_z  89206 non-null  object
 18  atr02/quat_w  88404 non-null  object
 19  atr02/quat_x  88902 non-null  object
 20  atr02/quat_y  87452 non-null  object
 21  atr02/quat_z  89430 non-null  object
 22  atr03/acc_x   89494 non-null  object
 23  atr03/acc_y   89499 non-null  object
 24  atr03/acc_z   89491 non-null  object
 25  atr03/gyro_x  89292 non-null  object
 26  atr03/gyro_y  89356 non-null  object
 27  atr03/gyro_z  89271 non-null  object
 28  atr03/quat_w  88914 non-null  object
 29  atr03/quat_x  88258 non-null  object
 30  atr03/quat_y  89274 non-null  object
 31  atr03/quat_z  88556 non-null  object
 32  atr04/acc_x   89496 non-null  object
 33  atr04/acc_y   89500 non-null  float64
 34  atr04/acc_z   89486 non-null  object
 35  atr04/gyro_x  89228 non-null  object
 36  atr04/gyro_y  89240 non-null  object
 37  atr04/gyro_z  89090 non-null  object
 38  atr04/quat_w  88287 non-null  object
 39  atr04/quat_x  88782 non-null  object
 40  atr04/quat_y  89267 non-null  object
 41  atr04/quat_z  88925 non-null  object
 42  operation     89500 non-null  int64
dtypes: float64(1), int64(2), object(40)
memory usage: 29.4+ MB
None
#######################################################################################
/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_6.csv
             action   atr01/acc_z   atr03/acc_x   atr04/acc_x   atr04/acc_y  \
count  72334.000000  72334.000000  72334.000000  72334.000000  72334.000000
mean    3615.431471      0.384950      0.411857      0.407968     -0.860429
std     3744.040271      0.472662      0.284135      0.275250      0.218210
min      101.000000     -1.640600     -1.931500     -2.590900     -1.879700
25%      401.000000      0.038300      0.224300      0.213100     -0.986000
50%      802.000000      0.447100      0.371700      0.365400     -0.916800
75%     8105.000000      0.734000      0.577200      0.567600     -0.800100
max     8105.000000      3.999800      2.149700      2.030600      0.509800

          operation
count  72334.000000
mean     695.418475
std     1280.129033
min      100.000000
25%      300.000000
50%      400.000000
75%      700.000000
max     8100.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72334 entries, 0 to 72333
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    72333 non-null  object
 1   action        72334 non-null  int64
 2   atr01/acc_x   72329 non-null  object
 3   atr01/acc_y   72329 non-null  object
 4   atr01/acc_z   72334 non-null  float64
 5   atr01/gyro_x  72220 non-null  object
 6   atr01/gyro_y  72258 non-null  object
 7   atr01/gyro_z  72226 non-null  object
 8   atr01/quat_w  71748 non-null  object
 9   atr01/quat_x  71357 non-null  object
 10  atr01/quat_y  71177 non-null  object
 11  atr01/quat_z  72102 non-null  object
 12  atr02/acc_x   72332 non-null  object
 13  atr02/acc_y   72327 non-null  object
 14  atr02/acc_z   72330 non-null  object
 15  atr02/gyro_x  72158 non-null  object
 16  atr02/gyro_y  72020 non-null  object
 17  atr02/gyro_z  72147 non-null  object
 18  atr02/quat_w  71566 non-null  object
 19  atr02/quat_x  71305 non-null  object
 20  atr02/quat_y  71530 non-null  object
 21  atr02/quat_z  72166 non-null  object
 22  atr03/acc_x   72334 non-null  float64
 23  atr03/acc_y   72333 non-null  object
 24  atr03/acc_z   72315 non-null  object
 25  atr03/gyro_x  72170 non-null  object
 26  atr03/gyro_y  72237 non-null  object
 27  atr03/gyro_z  72154 non-null  object
 28  atr03/quat_w  72233 non-null  object
 29  atr03/quat_x  72138 non-null  object
 30  atr03/quat_y  71979 non-null  object
 31  atr03/quat_z  71550 non-null  object
 32  atr04/acc_x   72334 non-null  float64
 33  atr04/acc_y   72334 non-null  float64
 34  atr04/acc_z   72322 non-null  object
 35  atr04/gyro_x  72116 non-null  object
 36  atr04/gyro_y  72178 non-null  object
 37  atr04/gyro_z  72078 non-null  object
 38  atr04/quat_w  71519 non-null  object
 39  atr04/quat_x  71685 non-null  object
 40  atr04/quat_y  71950 non-null  object
 41  atr04/quat_z  71969 non-null  object
 42  operation     72334 non-null  int64
dtypes: float64(4), int64(2), object(37)
memory usage: 23.7+ MB
None
#######################################################################################
/content/drive/My Drive/BUN_BO/Data.SHL/Raw_data/File_7.csv
             action   atr01/acc_z   atr02/acc_z   atr03/acc_x   atr04/acc_y  \
count  52200.000000  52200.000000  52200.000000  52200.000000  52200.000000
mean    3231.689540      0.329072      0.227555      0.385852     -0.860390
std     3675.444123      0.585098      0.647864      0.351385      0.277293
min      101.000000     -3.004600     -3.398100     -2.645100     -2.393900
25%      303.000000     -0.087800     -0.281000      0.158400     -1.008700
50%      706.000000      0.395300      0.423700      0.360100     -0.926150